<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="Jyoti TestNG Lab">
  <test name="My TestNG Practice" verbose="5">
    <classes>
      <class name="TestNGSession.DependsOnMethod" />
      <class name="TestNGSession.InvocationCountConcept" />
      <class name="TestNGSession.PriorityTest" />
      <class name="TestNGSession.ExpectedExceptionConcept" />
    </classes>
  </test> 
</suite> 